.glyphicon {
  margin-right: 5px;
}
.list-group {
  div.item.col-xs-12.col-sm-6, div.item.col-xs-12.col-sm-12 {
    padding: 0;
    margin : 0;
  }
  margin-bottom: 0;
}
.thumbnail {
  margin-bottom        : 0;
  padding              : 0;
  -webkit-border-radius: 0;
  -moz-border-radius   : 0;
  border-radius        : 0;
  border-color         : #fff;
}
.item.list-group-item {
  float           : none;
  width           : 100%;
  background-color: #fff;
  margin-bottom   : 10px;
}
.item.list-group-item:hover,
.item.list-group-item:nth-of-type(odd):hover {
  background: #428bca;
}
.item.list-group-item .list-group-image {
  margin-right: 10px;
}
.item.list-group-item .thumbnail {
  margin-bottom: 0;
}
.item.list-group-item:after,
.item.list-group-item:before {
  display: table;
  content: " ";
}
.item.list-group-item img {
  float: left;
}
.item.list-group-item:after {
  clear: both;
}
